#!/usr/bin/make -f

export DH_VERBOSE=1

binary binary-arch binary-indep build clean:
	dh $@ -Sepicsmake
install: build
binary-arch binary-indep: install
binary: binary-arch binary-indep

install: build install-stamp
install-stamp:
	dh install --until auto_install --with rtems -Sepicsmake

	dh_installepics

	dh install --after auto_install --until install --with rtems -Sepicsmake

	# Replace some SLAC specific names with macros
	sed -i -e 's|lcls_main|$$(HOME)|' \
	debian/edm-iocstats/usr/lib/epics/op/edl/*.edl

	dh install --after install --with rtems -Sepicsmake
	touch $@
