#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --with epics -Sepicsmake

override_dh_install:
	dh_install

	# Replace some SLAC specific names with macros
	sed -i -e 's|lcls_main|$$(HOME)|' \
	debian/edm-iocstats/usr/lib/epics/op/edl/*.edl
